.App {
  text-align: center;
}
.Body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.Tophead {
  background-color: grey;
  min-height: 50px;
}

.App-logo {
  height: 100px;
}

.Footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  background-color: grey;
  
  
}
